.features {
    padding: 60px 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
}



.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features__icon-container {
    padding: 25px 190px;
    margin-bottom: 30px;
    width: 450px;
    height: 120px;
    background-color:$LightBgColor;
}


.features__title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: $MainTextColor;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.42px;
}

.features__description {
    color: $LinkColor;
    font-size: 14px;
    font-weight: 400;
    width:450px ;
    line-height: 1.7;
    letter-spacing: 0.42px;
}
