.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo{
    margin-right: 93px;
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.4;
}

.header__logo--highlight {
    color: $ColorAccent;
}


.header__nav-list {
    display: flex;
    gap: 50px;
}

.header__nav-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.28px;
    color:$MainTextColor;

        &:hover,
     &:focus{
    color:$ColorAccent;
    }
}

.header__nav-item:nth-child(1){
    color: $ColorAccent;
}
.header__nav-item:nth-child(1)::after{
    content: "";
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius:2px;
    background-color: $ColorAccent;
}
.header__contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.header__contacts-icon {
    margin-right: 10px;
}

.header__contacts-link {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.28px;
    color:$LinkColor;
}

.header__contacts-item:hover {
    fill:$ColorAccent;
}

.header__contacts-link:hover {
    color:$ColorAccent;
}