.beckdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(68, 68, 75, 0.60);
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.modal-title {
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.6px;
}

.modal-form {
    margin-top: 12px;
}

.modal-name {
    margin-bottom: 4px;
    color:$LinkColor;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.12px;
}

.name-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.modal-phone {
    margin-top: 10px;
    margin-bottom: 4px;
    color:$LinkColor;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.12px;
}

.phone-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.emeil-text {
    margin-top: 10px;
    margin-bottom: 4px;
    color: $LinkColor;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.12px;
}

.emeil-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.messeg-text {
    margin-top: 10px;
    margin-bottom: 4px;
    color:$LinkColor;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.12px;
}

.message-input {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
}

.messageinput::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.12px;
}

.modal-thumb {
    display: flex;
}

.modal-submit {
    margin-top: 30px;
    margin-left: 124px;
    padding: 10px 52px;
    border-radius: 4px;
    background-color: $ColorAccent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.96px;

}