%button{
font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196F3;
    border: none;
    color: $WhiteColor;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-order{
    @extend %button;
padding: 10px 32px;
}

.button-submit {
    @extend %button;
    padding: 10px 52px;
}