$WhiteColor: #FFFFFF;
$ColorAccent: #2196f3;
$LinkColor: #757575;
$DarkBgColor: #2F303A;
$MainTextColor: #212121;
$LightBgColor: #F5F4FA;
$primaryFont: "Roboto", sans-serif;
$secondaryFont:"Relway", sans-serif;